---
title: index
layout: default
date: 2018-11-20 10:33:46 +0000

---
<h2>Collabthings</h2>

<p>
CollabThings is a platform to store, share in a designs of machines  and constructions, scripts and instructions how those are manufactured  and maintained. Everything piece is linked together and everything is  automatically shared through service and p2p -network. You can take any  design, edit and publish it.
 </p>
 <p>
 The idea is to define how to build  for example a hair dryer, what parts are needed and how they are put  together. What tools and what kind of robot is needed to assembly it.  If somebody wants to make a better design or update the software that  is needed, anyone gets those updates. If you want to create something  else using some of the parts of hair dryer, that is great because we  already know how to build those parts and how to use them.
 </p>
 <p>
  The platform is designed so that, it should handle cities as well as  small parts. With some work you should be able to take a city and zoom  in to some bolt somewhere.
 </p>
 <p>
 Dynamic information about built parts,  resources and skills people have will probably be stored in a network  of services that can be searched based on location. Identifier of a part  works as a link to CollabThings.
 </p>
 
 <p>
 Project trello:  
  <a href="https://trello.com/b/v1paC0sq/project">https://trello.com/b/v1paC0sq/project</a>
</p>
 <p>
 Current version in development:  
  <a href="https://trello.com/b/A0jQVmXl/version-0-3">https://trello.com/b/A0jQVmXl/version-0-3</a>
 </p>
 
 {% for post in site.posts %}

<article class='post'>
  <h1 class='post-title'>
    <a href="{{ site.path }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h1>
  <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>
  {{ post.content }}
</article>

{% endfor %}
